* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.draw {
    position: fixed;
    left: 70%;
    top: 20px;
    transform: translateX(-50%);
}
@media (max-width: 500px) {
    .html {
        position:relative;
        left: 0;
        top: 50vh;
        height: 50vh;
        overflow: auto;
    }
    .draw {
        position: fixed;
        left: 0;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);   
    }
}